body {
  margin: 0;
  font-family: 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: 'Courier New', Courier, monospace;
}

.header {
  background: white;
  padding: 10px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#how-to-remove {
  padding: 10px;
}

.container {
  background: white;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.todo-list{
  background: #e8e8e8;
  border-radius: 4px;
  height: 500px;
  max-height: 500px;
  padding: 5px;
  max-width: 400px;
}

.todo{
  background: lightblue;
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.15);
  padding: 3px 10px;
  font-size: 24px;
  margin-bottom: 6px;
  border-radius: 3px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.input{
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 10px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  font-size: 24px;
}
